.btn-primary {
    font-size: 1.5em;
}

.spacing {
    margin-top: 10vh;
}

.bg-gray {
    background: rgb(241, 241, 241);
}

.linkStyle {
    text-decoration: none;
}

.gallery {
    cursor: pointer;
    overflow-y: hidden;
}

.gallery-img {
    width: 80%;
    max-height: 50vh;
}

.testimonials {
    img {
        max-height: 500px;
    }
    ul {
        li {
        margin: 20px 0 20px 0;
        list-style: none;
        background:rgb(241, 241, 241);
        padding: 40px;

        p {
            margin-top: 40px;
            font-weight: 800;
        }
        }
    }
}

.contact {
    li {
        list-style: none;
        margin: 10px 0 10px 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
        width: 20%;
        margin: 20px 0 20px 0;
    };
     button {
         align-self: center;
     }
     textarea, input {
      width: 100%;
      letter-spacing: 1px;
      display: block;
    }
}
